<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo_List</title>
        <link rel="stylesheet" href="/styles/main.css">
      </head>

      <body>
        <main>
          <div>
            <p>Add family member</p>
            <% if(typeof error !== 'undefined') {%>
              <p style="color: red;"><%= error %></p>
            <% } %>
            <form class="form1" action="/new" method="post">
                <input type="text" class="family" placeholder="Name" name="name" required>
                <button type="submit" class="add">+</button>
                <!-- <button type="submit">submit</button> -->
            </form>
            
        </div>
        </main>
      </body>

</html>