<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo_List</title>
        <link rel="stylesheet" href="/styles/main.css">
      </head>

      <body>
        <main>
          <div>
            <p>Add family member</p>
            <form class="form1" action="/new">
                <input type="text" class="family" placeholder="Name" name="name">
                
                <!-- <button type="submit">submit</button> -->
            </form>
            <button type="submit" class="add">+</button>
        </div>
        </main>
      </body>

</html>